boto3
# ----------------------
# Flask
# ----------------------
flask

# ----------------------
# Requests
# ----------------------
requests

# ----------------------
# Wget
# ----------------------
wget


flask-mysql


Pillow