boto3
# ----------------------
# Flask
# ----------------------
flask

# ----------------------
# Requests
# ----------------------
requests

# ----------------------
# Wget
# ----------------------
wget


flask-mysql

flask-compress
flask-caching

Pillow