# ----------------------
    
# Flask
# ----------------------
flask

# ----------------------
# Requests
# ----------------------
requests

flask-mysql



# ----------------------
# PIL (image)
# ----------------------
Pillow


# ----------------------
# Wget
# ----------------------
wget