<style>
    body {
        font: 10px sans-serif;
        text-anchor: middle;
    }
</style>
<svg id="svg" viewBox="0 0 620 350" ></svg>
<script>
    //produce random colors
    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    // set the dimensions and margins of the graph

    var margin = {top: 20, right: 20, bottom: 30, left: 40},
            width = 620 - margin.left - margin.right,
            height = 350 - margin.top - margin.bottom;

    // set the ranges
    var x = d3.scaleBand()
            .range([0, width])
            .padding(0.1);
    var y = d3.scaleLinear()
            .range([height, 0]);

    // append a 'group' element to 'svg'
    // moves the 'group' element to the top left margin
    var svg = d3.select("svg")
            .attr("width", width - margin.left - margin.right)
            .attr("height", height - margin.top - margin.bottom)
            .append("g")
            .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");


    // get the data
    $.ajax({
        type: "GET",
        // first dataset with one column of values and one of categories
        url: "../1data",

        success: function (data) {
            var dataset = JSON.parse(data).res;

            // Scale the range of the data in the domains
            x.domain(dataset.map(function (d) {
                return d.name;
            }));
            y.domain([0, d3.max(dataset, function (d) {
                return d.key;
            })]);

            // append the rectangles for the bar chart
            svg.selectAll(".bar")
                    .data(dataset)
                    .enter().append("rect")
                    .attr("class", "bar")
                    .attr("x", function (d) {
                        return x(d.name);
                    })
                    .attr("width", x.bandwidth())
                    .attr("y", function (d) {
                        return y(d.key);
                    })
                    .attr("height", function (d) {
                        return height - y(d.key);
                    })
                    .attr("fill", function (d) {
                        return getRandomColor();
                    });

            // add the x Axis
            svg.append("g")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x));

            // add the y Axis
            svg.append("g")
                    .call(d3.axisLeft(y));
            upload();
        }
    });

</script>