{% include 'nav.html' %}
<h1 class="page-header hcenter" id="brand">
    Choose the more fitting category
</h1>
<div class="centerimg">
    <img class="up" style="display: none" id="load" src="{{ url_for('static', filename='assets/img/loading.gif') }}"
         alt="loading logo"/>
    <img class="up" style="display: none" id="vald" src="{{ url_for('static', filename='assets/img/source.gif') }}"
         alt="loading logo"/>
    <img id="imgdisp" src=""/>
    <div class="btnholder">
        <div class="" style="display: inline" id="pres">
            <button style="margin: 1%" id="0"
                    class="btnvali btn" name="Area chart">Area chart
            </button>
            <button style="margin: 1%" id="1"
                    class="btnvali btn" name="Miller flow"> Miller's flow
            </button>
        </div>
        <div class="" style="display: inline" id="pres">
            <button style="margin: 1%" id="2"
                    class="btnvali btn" name="Minard">Minard's map
            </button>
            <button style="margin: 1%" id="3"
                    class="btnvali btn" name="flow datagram">flow datagram
            </button>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='assets/js/jquery-1.10.2.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/multiplechoices.js') }}"></script>

</body>
</html>
