<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Name That Chart</title>

    <link href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='assets/css/font-awesome.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='assets/css/simplecss.css') }}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}">
</head>
<body>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script async src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.base64.min.js') }}"></script>
<script async src="{{ url_for('static', filename='assets/js/stats.js') }}"></script>

<div class="wrapper">
    <nav class="main-nav">
        {% include 'navbar.html' %}
    </nav>
    <header class="main-head">
        <h1 id="brand" class="page-header">
            Administration
            <small>Statistics</small>
        </h1>
        <p id="basic"> </p>
    </header>

    <article class="content">
        <table id="t1" class="table table-bordered table-responsive"
               style="display: inline-block;max-width: 80%;overflow-y:scroll;max-height: 65%">
            <thead>
            <tr id="head">
                <th></th>
                <th>Textual</th>
                <th>Selection</th>
                <th>Swipes</th>
                <th>Multiple</th>
                <th>Reverse</th>
            </tr>
            </thead>
            <tbody id="tabcont">

            </tbody>
        </table>

    </article>

    <footer class="main-footer">
        <button class="btn" id="reports" value="0"> Display reports</button>
    </footer>
</div>
</body>
</html>