{% include 'nav.html' %}
<div class="header hcenter">
    <h1 id="brand" class="page-header">
        Administration
        <small>Statistics</small>
    </h1>
</div>
<div class="center">
    <table>
        <tr>
            <td class="admcell">
                <h3>Upload</h3>
                <div class="card-image blue waves-effect waves-dark" id="up">
                    <i class="fa fa-upload fa-5x "></i>
                </div>
            </td>
            <td class="admcell">
                <h3>Download</h3>
                <div class="card-image blue waves-effect waves-dark" id="down">
                    <i class="fa fa-download fa-5x"></i>
                </div>
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="tp"
                           checked>
                    <label class="onoffswitch-label" for="tp">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </td>
        </tr>
    </table>
</div>
<script src="{{ url_for('static', filename='assets/js/jquery-1.10.2.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
<script async src="{{ url_for('static', filename='assets/js/admin.js') }}"></script>

</body>
</html>