<style>
    .arc text {
        font: 10px sans-serif;
        text-anchor: middle;
    }

    .arc path {
        stroke: #fff;
    }

</style>
<svg id="svg" width="620" height="350"></svg>
<script>

        function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    var svg = d3.select("svg"),
            width = +svg.attr("width"),
            height = +svg.attr("height"),
            radius = Math.min(width, height) / 2,
            g = svg.append("g").attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    var pie = d3.pie()
            .sort(null)
            .value(function (d) {
                return d.key;
            });

    var path = d3.arc()
            .outerRadius(radius - 10)
            .innerRadius(0);

    var label = d3.arc()
            .outerRadius(radius - 40)
            .innerRadius(radius - 40);
    var bob = {};

    $.ajax({
        type: "GET",
        url: "../1data",

        success: function (data) {
            var dataset = JSON.parse(data).res;

            var arc = g.selectAll(".arc")
                    .data(pie(dataset))
                    .enter().append("g")
                    .attr("class", "arc");

            arc.append("path")
                    .attr("d", path)
                    .attr("fill", function (d) {
                        return getRandomColor();
                    });

            arc.append("text")
                    .attr("transform", function (d) {
                        return "translate(" + label.centroid(d) + ")";
                    })
                    .attr("dy", "0.35em")
                    .text(function (d) {
                        return d.name;
                    });
        }
    });
</script>

