{% include 'nav.html' %}

<div style="margin-top: -0%" class="header">
    <h1 style="font-size: 26px;margin-top: -12%" class="page-header">
        Name that chart
    </h1>

</div>


<div class="center ">

    <div  class="shadow" style="max-width: 800px;border: solid 2px;text-align: center">
        <button id="go" style="margin: 15%"> Get Started</button>
        <p><strong>Help us now ! </strong>   </p>
    </div>
</div>


<!-- jQuery Js -->
<script src="{{ url_for('static', filename='assets/js/jquery-1.10.2.js') }}"></script>


<script>
    $("#go").click(function () {
        window.location = "../quizz"
    })

</script>


</body>

</html>