
{% include 'nav.html' %}

<div id="page-wrapper" style="padding-top: 0%">
    <div style="margin-top: -0%" class="header">
        <h1 style="font-size: 26px;margin-top: -15%" class="page-header">
            Name that chart
        </h1>

    </div>

    <div id="page-inner">

        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-action">
                        Description
                    </div>
                    <div class="card-content">
                        <p style="padding: 15% "><strong>Help us now ! </strong>


                        </p>
                        <a class="waves-effect waves-light btn" href="hybrid">Get Started</a>

                    </div>
                </div>
            </div>
        </div>
        <!-- /. PAGE INNER  -->
    </div>

    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->

<!-- jQuery Js -->
<script src="{{ url_for('static', filename='assets/js/jquery-1.10.2.js') }}"></script>

<!-- Bootstrap Js -->
<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/materialize/js/materialize.min.js') }}"></script>


</div>

</body>

</html>