<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Name That Chart</title>

    <link href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='assets/css/font-awesome.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='assets/css/simplecss.css') }}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}">
</head>
<body>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>

<div class="topnav" id="myTopnav">
    <a class="navbar-brand waves-effect waves-dark" href="/"><strong> <i
            class="large material-icons" id="icon">insert_chart</i>NameThatChart</strong></a>
    <a href="textualimg">Textual</a>
    <a href="selectimg">Selection</a>
    <a href="swipes">Swipes</a>
    <a href="multiple">Multiple</a>
    <a href="reverse">Reverse</a>
    <a href="main">Main</a>
    <a href="admin">Admin</a>
    <a href="display_image">Dataset</a>
    <a href="uploadimg"><i class="fa fa-upload fa-2x "></i></a>
    <a href="datcsv.csv"><i class="fa fa-download fa-2x"></i></a>
    <a class="icon" onclick="myFunction()">&#9776;</a>
</div>
<script type="text/javascript">
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

