<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Name That Chart</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/materialize/css/materialize.min.css') }}"
          media="screen,projection"/>
    <!-- Bootstrap Styles-->
    <link href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="{{ url_for('static', filename='assets/css/font-awesome.css') }}" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="{{ url_for('static', filename='assets/css/custom-styles.css') }}" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>
<body>

<div class="topnav" id="myTopnav">
    <a class="navbar-brand waves-effect waves-dark" href="/"><strong> <i
            class="large material-icons" id="icon">insert_chart</i>NameThatChart</strong></a>
    <a href="textual">D3js only</a>
    <a href="textualimg">Image only</a>
    <a href="hybrid">Hybrid</a>
    <a href="selectimg">Selection</a>
    <a href="admin">Admin</a>
    <a href="display_image">Dataset</a>
    <a class="icon" onclick="myFunction()">&#9776;</a>
</div>

<script type="text/javascript">
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }

</script>