<div style="text-align: center;display: inline;" id="btn">
    <div class="dropup" style="display: inline">
        <button style="height: 50px;padding: 6px 12px" class="btn btn-primary dropdown-toggle" id="report" type="button" data-toggle="dropdown">Report
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a id="nd">No display</a></li>
            <li><a id="ii">Inappropriate image</a></li>
            <li><a id="hmc">Huge miss-classification</a></li>
        </ul>
    </div>
    <button  style="height: 50px;padding: 6px 12px" id="skip" class="btn">skip</button>
    <button  style="height: 50px;padding: 6px 12px" id="save" class="btn">save</button>
    <button  style="height: 50px;padding: 6px 12px" id="gen" class="btn">get url</button>
</div>
<script async src="{{ url_for('static', filename='assets/js/report.js') }}"></script>