<div style="text-align: center;max-width: 500px;display: block;" id="btn">
    <div class="dropup" style="display: inline">
        <button class="btn btn-primary dropdown-toggle" id="report" type="button" data-toggle="dropdown">Report
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a id="nd">No display</a></li>
            <li><a id="ii">Inappropriate image</a></li>
            <li><a id="hmc">Huge miss-classification</a></li>
        </ul>
    </div>
    <button id="skip" class="btn">skip</button>
    <button id="save" class="btn">save</button>
</div>
<script async src="{{ url_for('static', filename='assets/js/report.js') }}"></script>