{% include 'nav.html' %}
<div id="pop" class="alert" style="display: none">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    Success, it is saved
</div>
<h1 class="page-header hcenter" id="brand">
    Choose the more fitting image to describe
</h1>

<div id="pop" class="alert" style="display: none">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    Success, it is saved
</div>

<div id="containssel" class="centerimg">

    <div id="btn" style="margin-top: 10%">

        <div class="dropup" style="display: inline">
            <button class="btn btn-primary dropdown-toggle" id="report" type="button" data-toggle="dropdown">Report
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a id="nd">No display</a></li>
                <li><a id="ii">Inappropriate image</a></li>
                <li><a id="hmc">Huge miss-classification</a></li>
            </ul>
        </div>
        <button id="skip" class="btn">skip</button>
        <button id="save" class="btn">save</button>

    </div>

</div>

<script src="{{ url_for('static', filename='assets/js/jquery-1.10.2.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/report.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>

<script type="text/javascript">
    var info;
    var images;
    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "../getreverse",
            processData: false,
            contentType: false,
            success: function (data) {
                info = JSON.parse(data);


                images = eval(info.images);
                console.log(images[0].idimage);
                $("#brand").append(" the '" + info.label + "' category");

                images.forEach(function (image) {
                    $("#containssel").append("<img  class='imgtoch' value='" + image.idimage + "' src='static/" + image.imagepath + "'/>")

                })
            }


        });

    });


    $("#skip").click(function () {
        var imgs = [];
        images.forEach(function (row) {
            imgs.push(row.idimage)


        });
        var firm = new FormData();
        firm.append("action", "skip");
        firm.append("ids", imgs);
        firm.append("idtype", info.idtype);
        $.ajax({
            type: "POST",
            url: "../logm/reverse",
            processData: false,
            contentType: false,
            data: firm
        });


        if (window.location.href.indexOf('hybrid') !== -1) {
            window.location = "../hybrid"
        } else {
            if (window.location.href.indexOf('main') !== -1) {
                window.location = "../main"
            } else if (window.location.href.indexOf('raw') !== -1) {
                window.location = "../raw"
            }
            else {
                fillit()
            }
        }


    });

    $('#containssel').on('click', 'img', function () {
        $("img").each(function () {
            $(this).addClass('unselec')
        });
        $('.selec').removeClass('selec');
        $(this).addClass('selec');
        $(this).removeClass('unselec');
    });


    $("#save").click(function () {
        var img = $(".selec").attr("value");
        var form = new FormData();
        form.append("image", img);
        form.append("idtype", info.idtype);
        pop();

        $.ajax({
            type: "POST",
            url: "../saverev",
            processData: false,
            contentType: false,
            data: form,
            success: function () {
                if (window.location.href.indexOf('hybrid') !== -1) {
                    window.location = "../hybrid"
                } else {
                    if (window.location.href.indexOf('main') !== -1) {
                        window.location = "../main"
                    } else if (window.location.href.indexOf('raw') !== -1) {
                        window.location = "../raw"
                    }
                    else {
                        fillit()
                    }
                }
            }
        });
    });


    function fillit() {
        $.ajax({
            type: "GET",
            url: "../getreverse",
            processData: false,
            contentType: false,
            success: function (data) {
                info = JSON.parse(data);


                images = eval(info.images);
                console.log(images[0].idimage);
                $("#brand").text("Choose the more fitting image to describe");
                $("#brand").append(" the '" + info.label + "' category");
                $("img").remove();
                images.forEach(function (image) {
                    $("#containssel").append("<img  class='imgtoch' value='" + image.idimage + "' src='static/" + image.imagepath + "'/>")

                })

            }
        });
    }

</script>

</div>

</body>

</html>
