{% include 'nav.html' %}
<div id="pop" class="alert" style="display: none">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    Success, it is saved
</div>
<div style="margin-top: -0%" class="header hcenter">
    <h1 class="page-header" id="brand">
        Select the picture which best describe :
    </h1>
</div>

<div class="center" id="sel">

    <div id="fill"></div>
    {% include 'report.html' %}
</div>

<script src="{{ url_for('static', filename='assets/js/jquery-1.10.2.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/select.js') }}"></script>
<script async src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>

</body>
</html>