<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Name That Chart</title>

    <link href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='assets/css/font-awesome.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='assets/css/simplecss.css') }}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}">
</head>
<body>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script async src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
<input type="hidden" value="{{ test }}" id="id"/>
<div class="wrapper">
    <nav class="main-nav">
        {% if session.haha %}
            {% include 'navbar.html' %}
        {% endif %}
    </nav>
    <header style="margin-top: -8%" class="main-head">
        <h1 id="title">
            Describe this chart
        </h1>
    </header>


    <div id="tinderslide" class="content">
        <div style="max-height: max-content">
            <img class="up" style="display: none" id="load"
                 src="{{ url_for('static', filename='assets/img/loading.gif') }}"
                 alt="loading logo"/>
            <h2 style="display: none" id="upl">Submitted ! ... loading next graphic</h2>
            <h2 style="display: none" id="lodt">Loading next image..</h2>
        </div>
        <ul class="ula">

            <li class="pane1 lia"
                style="     -moz-box-shadow: 5px 5px 5px 0px #656565;
    -webkit-box-shadow: 5px 5px 5px 0px #656565;
    -o-box-shadow: 5px 5px 5px 0px #656565;
    box-shadow: 5px 5px 5px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;background-position:center;background-repeat: no-repeat;background-size:contain;position: absolute;z-index: 20">
                <div class="img"></div>
                <div id="1_txt" style="display: none"></div>
                <div class="like" style="opacity: 0"><i class="fa fa-thumbs-up fa-5x green-text"
                                                        aria-hidden="true"></i></div>
                <div class="dislike" style="opacity: 0"><i class="fa fa-thumbs-down fa-5x red-text"
                                                           aria-hidden="true"></i></div>
            </li>
            <li class="pane2 lia"
                style="     -moz-box-shadow: 5px 5px 5px 0px #656565;
    -webkit-box-shadow: 5px 5px 5px 0px #656565;
    -o-box-shadow: 5px 5px 5px 0px #656565;
    box-shadow: 5px 5px 5px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;background-position:center;background-repeat: no-repeat;background-size:contain;position: absolute;z-index: 25">
                <div class="img"></div>
                <div id="2_txt" style="display: none"></div>
                <div class="like" style="opacity: 0"><i class="fa fa-thumbs-up fa-5x green-text"
                                                        aria-hidden="true"></i></div>
                <div class="dislike" style="opacity: 0"><i class="fa fa-thumbs-down fa-5x red-text"
                                                           aria-hidden="true"></i></div>
            </li>
            <li class="pane3 lia"
                style="     -moz-box-shadow: 5px 5px 5px 0px #656565;
    -webkit-box-shadow: 5px 5px 5px 0px #656565;
    -o-box-shadow: 5px 5px 5px 0px #656565;
    box-shadow: 5px 5px 5px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;background-position:center;background-repeat: no-repeat;background-size:contain;position: absolute;z-index: 30">
                <div class="img"></div>
                <div id="3_txt" style="display: none"></div>
                <div class="like" style="opacity: 0"><i class="fa fa-thumbs-up fa-5x green-text"
                                                        aria-hidden="true"></i></div>
                <div class="dislike" style="opacity: 0"><i class="fa fa-thumbs-down fa-5x red-text"
                                                           aria-hidden="true"></i></div>
            </li>
            <li class="pane4 lia"
                style="-moz-box-shadow: 5px 5px 5px 0px #656565;-webkit-box-shadow: 5px 5px 5px 0px #656565;-o-box-shadow: 5px 5px 5px 0px #656565;box-shadow: 5px 5px 5px 0px #656565;filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);-moz-border-radius: 5px;webkit-border-radius: 5px;border-radius: 5px; background-position:center;background-repeat: no-repeat;background-size:contain;position: absolute;z-index: 35">
                <div class="img"></div>
                <div id="4_txt" style="display: none"></div>
                <div class="like" style="opacity: 0"><i class="fa fa-thumbs-up fa-5x green-text"
                                                        aria-hidden="true"></i></div>
                <div class="dislike" style="opacity: 0"><i class="fa fa-thumbs-down fa-5x red-text"
                                                           aria-hidden="true"></i></div>
            </li>
            <li class="pane5 lia"
                style="     -moz-box-shadow: 5px 5px 5px 0px #656565;
                                        -webkit-box-shadow: 5px 5px 5px 0px #656565;
                                        -o-box-shadow: 5px 5px 5px 0px #656565;
                                        box-shadow: 5px 5px 5px 0px #656565;
                                        filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
                                        -moz-border-radius: 5px;
                                        -webkit-border-radius: 5px;
                                        border-radius: 5px;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        position: absolute;
                                        z-index: 40;
                            ">
                <div class="img"></div>
                <div id="5_txt" style="display: none"></div>
                <div class="like" style="opacity: 0"><i class="fa fa-thumbs-up fa-5x green-text"
                                                        aria-hidden="true"></i></div>
                <div class="dislike" style="opacity: 0"><i class="fa fa-thumbs-down fa-5x red-text"
                                                           aria-hidden="true"></i></div>
            </li>

        </ul>


    </div>
    <footer class="main-footer">
        <div style="margin: 0 auto;">
            <div style="text-align: center;display: inline" id="btn">
                <button style="height: 50px;padding: 6px 12px;color: #FFF;background-color: red" id="no" class="btn">
                    no
                </button>
                <button style="height: 50px;padding: 6px 12px" class="btn" id="report"
                        type="button">Not a Chart
                </button>
                <button style="height: 50px;padding: 6px 12px" id="skip" class="btn">skip</button>
                <button style="height: 50px;padding: 6px 12px;color: #FFF;background-color: green" id="yes" class="btn">
                    Yes
                </button>
            </div>
        </div>
    </footer>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.transform2d.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.jTinder.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.base64.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/swipe.js') }}"></script>
<script async src="{{ url_for('static', filename='assets/js/report.js') }}"></script>

</body>
</html>

