{% include 'nav.html' %}

<div id="page-wrapper" style="padding-top: 0%">
    <div style="margin-top: -0%" class="header">
        <h1 id="brand" class="page-header">
            Does this belongs in :
        </h1>

    </div>

    <div id="page-inner">
        <div class="card-content" id="container">
            <div class="wrap">
                <div id="tinderslide">
                    <ul>
                        <li class="pane1"
                            style="     -moz-box-shadow: 5px 5px 5px 0px #656565;
    -webkit-box-shadow: 5px 5px 5px 0px #656565;
    -o-box-shadow: 5px 5px 5px 0px #656565;
    box-shadow: 5px 5px 5px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;background-position:center;background-repeat: no-repeat;background-size:contain;position: absolute;z-index: 20">
                            <div class="img"></div>
                            <div id="1_txt" style="display: none"></div>
                            <div class="like" style="opacity: 0"><i class="fa fa-thumbs-up fa-5x green-text"
                                                                    aria-hidden="true"></i></div>
                            <div class="dislike" style="opacity: 0"><i class="fa fa-thumbs-down fa-5x red-text"
                                                                       aria-hidden="true"></i></div>
                        </li>
                        <li class="pane2"
                            style="     -moz-box-shadow: 5px 5px 5px 0px #656565;
    -webkit-box-shadow: 5px 5px 5px 0px #656565;
    -o-box-shadow: 5px 5px 5px 0px #656565;
    box-shadow: 5px 5px 5px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;background-position:center;background-repeat: no-repeat;background-size:contain;position: absolute;z-index: 25">
                            <div class="img"></div>
                            <div id="2_txt" style="display: none"></div>
                            <div class="like" style="opacity: 0"><i class="fa fa-thumbs-up fa-5x green-text"
                                                                    aria-hidden="true"></i></div>
                            <div class="dislike" style="opacity: 0"><i class="fa fa-thumbs-down fa-5x red-text"
                                                                       aria-hidden="true"></i></div>
                        </li>
                        <li class="pane3"
                            style="     -moz-box-shadow: 5px 5px 5px 0px #656565;
    -webkit-box-shadow: 5px 5px 5px 0px #656565;
    -o-box-shadow: 5px 5px 5px 0px #656565;
    box-shadow: 5px 5px 5px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;background-position:center;background-repeat: no-repeat;background-size:contain;position: absolute;z-index: 30">
                            <div class="img"></div>
                            <div id="3_txt" style="display: none"></div>
                            <div class="like" style="opacity: 0"><i class="fa fa-thumbs-up fa-5x green-text"
                                                                    aria-hidden="true"></i></div>
                            <div class="dislike" style="opacity: 0"><i class="fa fa-thumbs-down fa-5x red-text"
                                                                       aria-hidden="true"></i></div>
                        </li>
                        <li class="pane4"
                            style="-moz-box-shadow: 5px 5px 5px 0px #656565;-webkit-box-shadow: 5px 5px 5px 0px #656565;-o-box-shadow: 5px 5px 5px 0px #656565;box-shadow: 5px 5px 5px 0px #656565;filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);-moz-border-radius: 5px;webkit-border-radius: 5px;border-radius: 5px; background-position:center;background-repeat: no-repeat;background-size:contain;position: absolute;z-index: 35">
                            <div class="img"></div>
                            <div id="4_txt" style="display: none"></div>
                            <div class="like" style="opacity: 0"><i class="fa fa-thumbs-up fa-5x green-text"
                                                                    aria-hidden="true"></i></div>
                            <div class="dislike" style="opacity: 0"><i class="fa fa-thumbs-down fa-5x red-text"
                                                                       aria-hidden="true"></i></div>
                        </li>
                        <li class="pane5" id="test5"
                            style="     -moz-box-shadow: 5px 5px 5px 0px #656565;
                                        -webkit-box-shadow: 5px 5px 5px 0px #656565;
                                        -o-box-shadow: 5px 5px 5px 0px #656565;
                                        box-shadow: 5px 5px 5px 0px #656565;
                                        filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
                                        -moz-border-radius: 5px;
                                        -webkit-border-radius: 5px;
                                        border-radius: 5px;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        position: absolute;
                                        z-index: 40;
                            ">
                            <div class="img"></div>
                            <div id="5_txt" style="display: none"></div>
                            <div class="like" style="opacity: 0"><i class="fa fa-thumbs-up fa-5x green-text"
                                                                    aria-hidden="true"></i></div>
                            <div class="dislike" style="opacity: 0"><i class="fa fa-thumbs-down fa-5x red-text"
                                                                       aria-hidden="true"></i></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /. PAGE INNER  -->
</div>

<!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->

<!-- jQuery Js -->
<script src="{{ url_for('static', filename='assets/js/jquery-1.10.2.js') }}"></script>

<!-- Bootstrap Js -->
<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/materialize/js/materialize.min.js') }}"></script>


<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<!-- transform2d lib -->
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.transform2d.js') }}"></script>

<!-- jTinder lib -->
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.jTinder.js') }}"></script>


<script type="text/javascript">
    var cat = ["reaching ..."];
    var nb = 5;
    var info = [];
    var width = screen.width;
    var height = screen.height;
    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "../getfive",
            processData: false,
            contentType: false,
            success: function (data) {
                info = JSON.parse(data);
                var i = 1;
                info.forEach(function (img) {
                    cat.push(img.label);
                    var temp = $('.pane' + i);

                    if (width > 1024) {
                        temp.css("width", "100%");
                        temp.css("height", "60%");
                    } else {
                        if (width > 700) {
                            temp.css("width", "100%");
                            temp.css("height", "41%");
                        } else {
                            if (width > 400) {
                                temp.css("width", "70%");
                                temp.css("height", "30%");
                            } else {
                                temp.css("width", "55%");
                                temp.css("height", "23%");
                            }

                        }
                    }
                    temp.css("background-image", 'url("' + img.path + '")');
                    temp.attr("value", img.idimage);
                    $("#" + i + "_txt").text(img.label);
                    $("#brand").text("Does this belongs in " + cat[nb] + " category");
                    i++;
                })

            }
        });


    });

    $("#tinderslide").jTinder({

        onDislike: function (item) {
            $("#brand").text("Does this belongs in " + cat[nb - 1] + " category");
            nb = nb - 1;
            // TODO
            var form = new FormData();
            form.append("vote", false);
            form.append("idimage", info[item.index()].idimage);
            form.append("idtype", info[item.index()].idtype);
            $.ajax({
                type: "POST",
                url: "../saveswipe",
                processData: false,
                contentType: false,
                data: form
            })
        },

        onLike: function (item) {
            $("#brand").text("Does this belongs in " + cat[nb - 1] + " category");
            nb = nb - 1;
            var form = new FormData();
            form.append("vote", true);
            form.append("idimage", info[item.index()].idimage);
            form.append("idtype", info[item.index()].idtype);
            $.ajax({
                type: "POST",
                url: "../saveswipe",
                processData: false,
                contentType: false,
                data: form
            })
        },
        animationRevertSpeed: 200,
        animationSpeed: 400,
        threshold: 1,
        likeSelector: '.like',
        dislikeSelector: '.dislike'
    });


</script>
</body>


</html>