<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Name That Chart</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/materialize/css/materialize.min.css') }}"
          media="screen,projection"/>
    <!-- Bootstrap Styles-->
    <link href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="{{ url_for('static', filename='assets/css/font-awesome.css') }}" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="{{ url_for('static', filename='assets/css/custom-styles.css') }}" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>
<body>
<body>
{% include 'nav.html' %}

<!-- /. NAV SIDE  -->
<div id="page-wrapper">

    <div class="header">
        <h1 class="page-header" id="brand">
            Describe this chart with your own words
        </h1>

    </div>
    <div class="row">
        <div id="pop" class="alert" style="display: none">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Success, it is saved
        </div>
    </div>
    <div id="page-inner">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-content" id="dispres">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content" id="pres">
                        <div id="fom">
                            <input id="value" type="text" name="type" placeholder="What is this chart ?"
                                   maxlength="50"/>
                        </div>
                        <br/>
                        <button id="skip" class="waves-effect waves-light btn">skip
                        </button>
                        <button id="save" class="waves-effect waves-light btn">
                            save
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="clearBoth" style="text-align: center"><br/>

</div>


<canvas id="canvas" width="620" height="350" style="display: none"></canvas>

<!-- /. PAGE INNER  -->
</div>

<!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="{{ url_for('static', filename='assets/js/jquery-1.10.2.js') }}"></script>

<!-- Bootstrap Js -->
<script async src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>

<script async src="{{ url_for('static', filename='assets/materialize/js/materialize.min.js') }}"></script>


<script async type="text/javascript" src="http://canvg.github.io/canvg/rgbcolor.js"></script>
<script async type="text/javascript" src="http://canvg.github.io/canvg/StackBlur.js"></script>
<script async type="text/javascript" src="http://canvg.github.io/canvg/canvg.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>

<script type="text/javascript">
    var started = true;

    function upload() {
        ferm = new FormData();
        var canvus = document.getElementById('canvas');
        canvg('canvas', $("#svg").html());
        var imgu = canvus.toDataURL("image/png").replace("image/png", "image/octet-stream");
        var blobu = dataURLtoBlob(imgu);
        var ferm = new FormData();
        started = true;
        ferm.append("local", blobu);
        $.ajax({
            type: "POST",
            url: "../saveimg",
            processData: false,
            contentType: false,
            data: ferm,
            success: function () {
                furm = new FormData();
                furm.append("action", "page loaded");
                $.ajax({
                    type: "POST",
                    url: "../logaction",
                    processData: false,
                    contentType: false,
                    data: furm
                });
            }
        });
    }

    $(document).ready(function () {
        var url;
        $.ajax({
            type: "GET",
            url: "../getnext",
            processData: false,
            contentType: false,
            success: function (data) {
                url = data;
                $("#dispres").empty();
                $("#dispres").load("./textual/" + data);


                /* */

            }
        });


        updateImageSize();
        $(window).resize(function () {
            updateImageSize();
        })

    })

</script>

<script async>
    $("#save").click(function () {
        var text = $("#value").val();
        $("#value").val('');
        $("#pop").show();
        var form = new FormData();

        var reg = /[\(,\)\'\~\`\"\{\}\+\=\#\&\][^²;:\\\/£$*¤µ¨%§!?.&\n\r><@]*/ig;
        text = text.replace(reg, "");
        form.append("name", text);


        $.ajax({
            type: "POST",
            url: "./savetext",
            enctype: 'mulipart/form-data',
            processData: false,
            contentType: false,
            data: form,
            success: function () {
                $.ajax({
                    type: "GET",
                    url: "../getnext",
                    processData: false,
                    contentType: false,
                    success: function (data) {

                        $("#dispres").empty();
                        $("#dispres").load("./textual/" + data);
                    }
                });
            }
        });

    });

    $("#skip").click(function () {
        firm = new FormData();
        firm.append("action", "skip");
        $.ajax({
            type: "POST",
            url: "../logaction",
            processData: false,
            contentType: false,
            data: firm
        });

        $.ajax({
            type: "GET",
            url: "../getnext",
            processData: false,
            contentType: false,
            success: function (data) {

                $("#dispres").empty();
                $("#dispres").load("./textual/" + data);
            }
        });
    });

    $("#value").on('input', function () {
        if ($("#value").val() != undefined) {
            if ($("#value").val().length == 1 && started) {
                started = false;
            firm = new FormData();
            firm.append("action", "started typing");
            $.ajax({
                type: "POST",
                url: "../logaction",
                processData: false,
                contentType: false,
                data: firm
            });
        }
        }
    });


    function dataURLtoBlob(dataurl) {
        var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
                bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
        while (n--) {
            u8arr[n] = bstr.charCodeAt(n);
        }
        return new Blob([u8arr], {type: mime});
    }


    function updateImageSize() {
        $("svg").each(function () {
            var ratio_cont = jQuery(this).width() / jQuery(this).height();
            var $img = jQuery(this).find("svg");
            var ratio_img = $img.width() / $img.height();
            if (ratio_cont > ratio_img) {
                $img.css({"width": "100%", "height": "auto"});
            }
            else if (ratio_cont < ratio_img) {
                $img.css({"width": "auto", "height": "100%"});
            }
        });
    }


</script>

</body>

</html>