{% include 'nav.html' %}


<h1 class="page-header hcenter" id="brand">
    Describe this chart with your own words
</h1>

<div id="pop" class="alert" style="display: none">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    Success, it is saved
</div>
<div class="centerimg">
    <img id="imgdisp" src=""/>


    <div id="fom" class="form-group" style="max-width: 500px;text-align: center">
        <input id="value" type="text" class="form-control" name="type" placeholder="What is this chart ?"
               maxlength="50"/>


        <div id="btn">
            <div class="dropup" style="display: inline">
                <button class="btn btn-primary dropdown-toggle" id="report" type="button" data-toggle="dropdown">Report
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a id="nd">No display</a></li>
                    <li><a id="ii">Inappropriate image</a></li>
                    <li><a id="hmc">Huge miss-classification</a></li>
                </ul>
            </div>
            <button id="skip" class="waves-effect waves-light btn grey">skip
            </button>
            <button id="save" class="waves-effect waves-light btn blue ">
                save
            </button>
            <div>
            </div>


        </div>
    </div>

</div>


<script src="{{ url_for('static', filename='assets/js/jquery-1.10.2.js') }}"></script>

<!-- Bootstrap Js -->
<script async src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>

<script type="text/javascript">
    var started = true;
    $(document).ready(function () {
                document.getElementById("value").focus();
                if (window.location.href.indexOf('quizz') !== -1) {
                    $("#imgdisp").attr("src", "static/assets/img/datasets/json/11.JPG");
                    $("#skip").hide();
                } else {

                    $.ajax({
                        type: "GET",
                        url: "../getnextimg",
                        processData: false,
                        success: function (data) {

                            $("#imgdisp").attr("src", data);
                            furm = new FormData();
                            furm.append("action", "page loaded");
                            $.ajax({
                                type: "POST",
                                url: "../logaction",
                                processData: false,
                                contentType: false,
                                data: furm
                            });
                        }
                    });
                }
            }
    );


    $("#nd").click(function (event) {
        event.preventDefault();

        report("no_display")
    });

    $("#ii").click(function (event) {
        event.preventDefault();

        report("Inappropriate_image")
    });

    $("#hmc").click(function (event) {
        event.preventDefault();

        report("miss_classification")
    });
    function report(string) {
        $.ajax({
            type: "POST",
            url: "../report/" + string,
            processData: false,
            contentType: false,
            success: function (data) {
                pop();
            }
        });


    }


    $("#save").click(function () {

        var text = $("#value").val();
        $("#value").val('');
        if (window.location.href.indexOf('quizz') !== -1) {
            if (text == 'tree map') {
                note = 4
            }
            else {
                note = 0
            }

            var form = new FormData();
            form.append("note", note);
            $.ajax({
                type: "POST",
                url: "../savenote",
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    window.location = "../quizz"
                }
            })
        } else {


            var form = new FormData();

            var reg = /[\(,\)\\~\`\"\{\}\+\=\#\&\][^²;:\\\/£$*¤µ¨%§!?.&\n\r><@]*/ig;
            text = text.replace(reg, "");
            form.append("name", text);
            pop();

            $.ajax({
                type: "POST",
                url: "./savetext",
                enctype: 'mulipart/form-data',
                processData: false,
                contentType: false,
                data: form,
                success: function () {
                    if (window.location.href.indexOf('hybrid') !== -1) {
                        window.location = "../hybrid"
                    } else {
                        if (window.location.href.indexOf('main') !== -1) {
                            window.location = "../main"
                        } else if (window.location.href.indexOf('raw') !== -1) {
                            window.location = "../raw"
                        }
                        else {
                            $.ajax({
                                type: "GET",
                                url: "../getnextimg",
                                processData: false,
                                contentType: false,
                                success: function (data) {


                                    $("#imgdisp").attr("src", data);
                                }
                            });
                        }
                    }
                }
            });

        }
    });

    $("#skip").click(function () {
        firm = new FormData();
        firm.append("action", "skip");
        $.ajax({
            type: "POST",
            url: "../logaction",
            processData: false,
            contentType: false,
            data: firm
        });
        if (window.location.href.indexOf('hybrid') !== -1) {
            window.location = "../hybrid"
        } else {
            if (window.location.href.indexOf('main') !== -1) {
                window.location = "../main"
            } else if (window.location.href.indexOf('raw') !== -1) {
                window.location = "../raw"
            }
            else {

                $.ajax({
                    type: "GET",
                    url: "../getnextimg",
                    processData: false,
                    contentType: false,
                    success: function (data) {


                        $("#imgdisp").attr("src", data);
                    }
                });
            }
        }

    });


    $("#value").on('input', function () {

        if (window.location.href.indexOf('quizz') !== -1) {

        } else {

            if ($("#value").val() != undefined) {
                if ($("#value").val().length == 1 && started) {
                    started = false;
                    firm = new FormData();
                    firm.append("action", "started typing");
                    $.ajax({
                        type: "POST",
                        url: "../logaction",
                        processData: false,
                        contentType: false,
                        data: firm
                    });
                }
            }
        }
    });

    window.onkeydown = function (e) {
        var code = e.keyCode ? e.keyCode : e.which;
        if (code === 13) { //up key
            $("#save").click()
        }
    };

    function pop() {
        $("#pop").show();
        $("#pop").delay(4300).fadeOut(500);
    }
</script>

</body>

</html>