<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Name That Chart</title>

    <link href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='assets/css/font-awesome.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='assets/css/simplecss.css') }}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}">
</head>
<body>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
<input type="hidden" value="{{ test }}" id="id"/>
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script async src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.base64.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/textual.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/report.js') }}"></script>

<div class="wrapper">
    <nav class="main-nav">
        {% include 'navbar.html' %}

    </nav>
    <header class="main-head">
        <h1 id="title">
            Describe this chart
        </h1>
    </header>

    <article class="content">
        <img class="up" style="display: none" id="load" src="{{ url_for('static', filename='assets/img/loading.gif') }}"
             alt="loading logo"/>
        <img class="up" style="display: none" id="vald" src=""
             alt="validation logo"/>
        <img id="img" src=""/>
    </article>

    <footer class="main-footer">
        <div style="margin: 0 auto;">
            <input id="tofill" type="text" class="form-control" name="type" placeholder="What is this chart ?"
                   maxlength="50" style="max-width: 500px;text-align: left;display: inline-block;margin-bottom: 3%"/>
            <div style="text-align: center;display: inline;" id="btn">
                <div class="dropup" style="display: inline">
                    <button style="height: 50px;padding: 6px 12px" class="btn btn-primary dropdown-toggle" id="report"
                            type="button" data-toggle="dropdown">Report
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a id="nd">No display</a></li>
                        <li><a id="ii">Inappropriate image</a></li>
                        <li><a id="hmc">Huge miss-classification</a></li>
                    </ul>
                </div>
                <button style="height: 50px;padding: 6px 12px" id="skip" class="btn">skip</button>
                <button style="height: 50px;padding: 6px 12px" id="save" class="btn">save</button>
            </div>
        </div>
    </footer>
</div>
