<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Name That Chart</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/materialize/css/materialize.min.css') }}"
          media="screen,projection"/>
    <!-- Bootstrap Styles-->
    <link href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="{{ url_for('static', filename='assets/css/font-awesome.css') }}" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="{{ url_for('static', filename='assets/css/custom-styles.css') }}" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>
<body>
<body>
<nav class="navbar navbar-default top-navbar" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand waves-effect waves-dark" href="/"><strong> <i
                class="large material-icons" id="icon">insert_chart</i>NameThatChart</strong></a>
        <ul class="nav navbar-top-links navbar-left" id="menu">
            <li>
                <div class="navbar-header" style="width: 30%">
                    <a class="navbar-brand waves-effect waves-dark" id="dire" href="textual">Textual</a>
                </div>
            </li>
            <li>
                <div class="navbar-header" style="width: 30%">
                    <a class="navbar-brand waves-effect waves-dark" id="dire" href="multiple">Multiple</a>
                </div>
            </li>
            <li>
                <div class="navbar-header" style="width: 30%">
                    <a class="navbar-brand waves-effect waves-dark" id="dire" href="admin">Admin</a>
                </div>
            </li>
        </ul>

    </div>
</nav>


<!-- /. NAV SIDE  -->
<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Administration
            <small>Upload</small>
        </h1>

    </div>
    <div id="page-inner">

        <div class="row">

            <div class="col-md-6">
                <div class="card">
                    <div class="card-action">
                        Raw Features
                    </div>
                    <div class="card-content" id="features">
                        <form id="canardlocal" style="margin-bottom:76px ">
                            Type of visualization :
                            <input type="text" name="type" id="epyt"
                                   placeholder="Type of visualisation (bar chart,etc ...)">

                        </form>

                        <button class="waves-effect waves-light btn" id="send"> Submit</button>

                    </div>
                </div>
            </div>
            <div class="col-md-6" id="drag">
                <div class="card">
                    <div class="card-action">
                        File Upload
                    </div>
                    <div class="card-content" id="uploade">
                        <form>
                            <strong> Add the file (d3js v4 + simple html in the same file ext : html)</strong>
                            <label for="imgInp" class="waves-effect waves-light btn" tabindex="0">Upload </label>
                            <input style="display: none" type='file' id="imgInp" name="imgInp"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /. PAGE INNER  -->


    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="{{ url_for('static', filename='assets/js/jquery-1.10.2.js') }}"></script>

<!-- Bootstrap Js -->
<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/materialize/js/materialize.min.js') }}"></script>

<script type="text/javascript">
    var fileri;

    $("#send").click(function (event) {
        event.preventDefault();
        var form = new FormData();
        form.append("local", $("#imgInp")[0].files[0]);
        form.append("type", $("#epyt").val());
        upload(form)

    });
    $(document).ready(function () {

        var haut = $('#features').height();
        var e1 = document.getElementById("uploade");
        e1.style.height = haut;
    });


    $(document).on('dragenter', '#drag', function () {
        $(this).css('border', '3px dashed red');
        return false;
    });

    $(document).on('dragover', '#drag', function (e) {
        e.preventDefault();
        e.stopPropagation();
        $(this).css('border', '3px dashed red');
        return false;
    });

    $(document).on('dragleave', '#drag', function (e) {
        e.preventDefault();
        e.stopPropagation();
        $(this).css('border', '3px dashed green');
        return false;
    });

    $(document).on('drop', '#drag', function (e) {
        if (e.originalEvent.dataTransfer) {
            if (e.originalEvent.dataTransfer.files.length) {
                // Stop the propagation of the event
                e.preventDefault();
                e.stopPropagation();
                $(this).css('border', '3px dashed green');
                // Main function to upload
                fileri = e.originalEvent.dataTransfer.files
            }
        }
        else {
            $(this).css('border', '3px dashed #BBBBBB');
        }
        return false;
    });

    function upload(form) {

        console.log(form);
        if (form.get('local') == undefined && fileri == undefined) {
            alert("no file uploaded");
        } else {


            //console.log($('#imgInp').val());
            $.ajax({
                type: "POST",
                url: "../presaveviz",
                enctype: 'mulipart/form-data',
                processData: false,
                contentType: false,
                data: form,
                success: function (data) {
                    window.location = data;
                }
            });
        }

        return false;
    }
</script>

</div>

</body>

</html>