<style>
    #td {
        padding-bottom: 20px;
    }

</style>

<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Name That Chart</title>
    <link href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='assets/css/font-awesome.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='assets/css/simplecss.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='assets/css/dropzone.css') }}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}">
</head>
<body>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script async src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.base64.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/dropzone.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/uploadimg.js') }}"></script>

<div class="wrapper">
    <nav class="main-nav">
        {% include 'navbar.html' %}
    </nav>
    <header class="main-head">
        <h1 id="brand" class="page-header">
            Administration
            <small>Upload</small>
        </h1>
    </header>

    <article class="content">
        <div>
            <h4 style=" margin-bottom: 5%;">Upload using an URL of a picture</h4>
            <div id="features">

                <table style="display: inline-block">

                    <form id="form" action="/saveupimg" method="post" style="margin-bottom:76px ">
                        <tr>
                            <td id="td">
                                <input type="text" class="form-control" name="url" id="url"
                                       placeholder="URL of the picture">
                            </td>
                            <td id="td" colspan="2">
                                <button class="btn" id="send"> Submit</button>
                            </td>
                        </tr>
                    </form>


                </table>

            </div>
            <img class="up" style="display: none" id="vald"
                 src="{{ url_for('static', filename='assets/img/source.gif') }}"
                 alt="validation logo"/>
        </div>
        <div>
            <h3>OR</h3>
            <hr>
        </div>
        <div style="display: inline-block">
            <h4 style=" margin-bottom: 5%;">
                Upload Using a Json file OR a picture
            </h4>
            <div>
                Json files must match one of the following content: ( <a id="demo" href="/demo.json"> click here to see
                it</a> )
                <form action="/upjsonimg" method="post"
                      class=" dz-file-preview dz-image-preview dz-preview dropzone needsclick dz-clickable"
                      id="demo-upload">

                    <div class="dz-message needsclick">
                        Drop here or click to upload. <strong>JSON</strong> or <strong>Pictures</strong> (only .png .
                        jpeg and .svg images allowed)
                        <br>
                        <span class="note needsclick">(Files will be uploaded without any delay)</span>
                    </div>

                </form>

            </div>
        </div>

    </article>

    <footer class="main-footer">

    </footer>
</div>
</body>
</html>